.card-component-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card-component {
    position: relative;
    display: flex;
    align-items: center;
    width: 400px;
    height: 100px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: border-color 0.2s;
}

.card-component.selected {
    border-color: blue;
}

.image-container {
    width: 25%;
}

.image-container img {
    height: 100%;
    width: 60%;
    margin-top: 8px;
    margin-left: 15px;
}

.info-container {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.description {
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info-icon {
    cursor: pointer;
}

.info-popup {
    position: absolute;
    top: -120px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.info-popup img {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
}