.description-component-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.description-component {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: border-color 0.2s;
}

.description-component.selected {
    border-color: blue;
}

.description-info-container {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.horizontal-line {
    display: block;
    width: 32px;
    height: 2px;
    margin: 20px auto;
    background: #007bfc;
}